# Machine Learning Model (XGBoost Classification)

Steps for Machine Learning Workflow:

1.Extract
 Rules:
 a. Features should not be strings
 b. Features should be of the type array/dataframe
 c. There should be no null values in my features and target
 d. Features should be in the form of rows and columns
 e. Features should be on the same scale
2.Split into training and testing sets

3.Train the model on the training set

4.Test the model on the testing set

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\Dell\\Machine Learning Model'

In [4]:
os.chdir('C:\\Users\\Dell')

In [5]:
os.getcwd()

'C:\\Users\\Dell'

In [6]:
import numpy as np
import pandas as pd

In [7]:
heart=pd.read_csv("Heart.csv")

In [8]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

# Step 1

In [9]:
X=heart.drop(columns=["target"])

In [10]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [11]:
y=heart["target"]

In [12]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

# Rules

In [13]:
X.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
dtype: object

In [14]:
type(X)

pandas.core.frame.DataFrame

In [15]:
X.shape

(303, 13)

In [16]:
heart.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

# Step 2

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42,stratify=y)

Feature Scaling on Training Dataset

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
minmax=MinMaxScaler()

In [21]:
X_train_scaled=minmax.fit_transform(X_train)

In [22]:
X_train_scaled=pd.DataFrame(X_train_scaled)

In [23]:
X_train_scaled.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.979167,0.0,0.666667,0.469388,0.250883,0.0,1.0,0.245614,0.0,0.177419,0.5,0.00,0.666667
1,0.291667,0.0,0.000000,0.387755,0.759717,1.0,0.0,0.421053,1.0,0.483871,0.5,0.00,1.000000
2,0.375000,1.0,0.666667,0.142857,0.413428,0.0,0.5,0.561404,0.0,0.000000,1.0,0.00,0.666667
3,0.458333,1.0,0.666667,0.061224,0.339223,0.0,0.5,0.482456,1.0,0.193548,0.5,0.00,0.666667
4,0.583333,1.0,0.000000,0.163265,0.738516,0.0,0.5,0.482456,1.0,0.483871,0.5,0.25,1.000000

Feature Scaling on Testing Dataset

In [24]:
X_test_scaled=minmax.transform(X_test)

In [25]:
X_test_scaled=pd.DataFrame(X_test_scaled)

In [26]:
X_test_scaled.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.520833,0.0,0.666667,0.142857,0.498233,0.0,0.0,0.692982,0.0,0.000000,1.0,0.00,0.666667
1,0.229167,1.0,0.000000,0.591837,0.342756,0.0,0.5,0.815789,0.0,0.000000,1.0,0.00,1.000000
2,0.625000,1.0,0.000000,0.163265,0.399293,0.0,0.0,0.473684,1.0,0.193548,0.5,0.25,1.000000
3,0.500000,1.0,0.000000,0.489796,0.353357,0.0,0.0,0.201754,1.0,0.000000,1.0,0.00,1.000000
4,0.666667,1.0,1.000000,0.408163,0.381625,0.0,0.5,0.500000,0.0,0.419355,0.5,0.50,0.666667

# Step 3

In [ ]:
!pip install xgboost

In [ ]:
from xgboost install XGBClassifier

In [ ]:
xgboost=XGBClassifier()

In [ ]:
xgboost.fit(X_scaled_train,y_train)

# Step 4

# Evaluate

In [ ]:
xgboost.score(X_scaled_test,y_test)

# Predict

In [ ]:
xgboost.predict(X_scaled_test)